#include <behaviors/mouse_keys.dtsi>
#include <dt-bindings/zmk/mouse.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define ZMK_POINTING_DEFAULT_MOVE_VAL 1650  // default is 600

&mmv { delay-ms = <0>; };

/ {
    behaviors {
        mouse_mode: mouse_mode {
            compatible = "zmk,behavior-hold-tap";
            label = "MOUSE_MODE";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <125>;
            flavor = "tap-preferred";
            quick-tap-ms = <75>;
        };

        shiftDance: shiftDance {
            compatible = "zmk,behavior-tap-dance";
            label = "SHIFTDANCE";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp LEFT_SHIFT>, <&kp CAPS>;
        };
    };

    combos {
        compatible = "zmk,combos";

        dash_moment {
            bindings = <&kp MINUS>;
            key-positions = <18 19>;
            layers = <0>;
        };

        tab_moment {
            bindings = <&kp TAB>;
            key-positions = <10 11 12>;
            layers = <0>;
        };

        semicolon {
            bindings = <&kp SEMICOLON>;
            key-positions = <29 19>;
            layers = <0>;
        };

        tilde_moment {
            bindings = <&kp GRAVE>;
            key-positions = <0 1>;
            layers = <0>;
        };

        ctrl_tab {
            bindings = <&kp LC(TAB)>;
            key-positions = <10 20>;
            layers = <0>;
        };

        zero_and_plus {
            bindings = <&kp EQUAL>;
            key-positions = <19 18 17>;
            layers = <0 1 3>;
        };

        bluetooth_moment {
            bindings = <&tog 5>;
            key-positions = <31 32 33 34>;
        };

        delete {
            bindings = <&kp DELETE>;
            key-positions = <27 28>;
            layers = <0>;
        };

        caps {
            bindings = <&kp CAPSLOCK>;
            key-positions = <20 21 22>;
        };

        programming_symb {
            bindings = <&mo 3>;
            key-positions = <21 22>;
            layers = <0>;
        };

        enter {
            bindings = <&kp ENTER>;
            key-positions = <16 17 18>;
        };

        ctrl+bksp {
            bindings = <&kp LC(BACKSPACE)>;
            key-positions = <16 17>;
        };

        misc_trigger {
            bindings = <&mo 4>;
            key-positions = <33 34>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        alpha {
            bindings = <
&kp Q  &kp W  &kp E           &kp R                &kp T   &kp Y   &kp U  &kp I          &kp O    &kp P
&kp A  &kp S  &kp D           &kp F                &kp G   &kp H   &kp J  &kp K          &kp L    &kp SQT
&kp Z  &kp X  &kp C           &kp V                &kp B   &kp N   &kp M  &kp COMMA      &kp DOT  &kp FSLH

              &kp LEFT_SHIFT  &mouse_mode 1 SPACE  &trans  &trans  &mo 2  &kp BACKSPACE
            >;
        };

        numbers_stuff {
            bindings = <
&kp N1       &kp N2  &kp N3  &kp N4  &kp N5  &trans        &trans         &trans    &trans     &trans
&kp N6       &kp N7  &kp N8  &kp N9  &kp N0  &kp LEFT      &kp UP_ARROW   &kp DOWN  &kp RIGHT  &trans
&bootloader  &trans  &trans  &trans  &trans  &kp LC(LEFT)  &kp LC(RIGHT)  &trans    &trans     &trans

                     &trans  &trans  &trans  &trans        &trans         &trans
            >;
        };

        mouse {
            bindings = <
&trans  &trans     &kp UP_ARROW  &trans     &trans  &trans          &trans        &trans          &trans           &bootloader
&trans  &mkp LCLK  &mkp MCLK     &mkp RCLK  &trans  &mmv MOVE_LEFT  &mmv MOVE_UP  &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &trans
&trans  &trans     &kp DOWN      &trans     &trans  &trans          &trans        &trans          &trans           &trans

                   &trans        &trans     &trans  &trans          &trans        &trans
            >;
        };

        programming {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &kp BACKSLASH  &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans         &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &kp PIPE       &kp LEFT_BRACE        &kp RIGHT_BRACE        &trans  &trans

                &trans  &trans  &trans  &trans         &trans                &trans
            >;
        };

        misc {
            bindings = <
&trans            &trans          &trans        &trans             &trans           &trans    &trans  &trans    &trans     &kp LC(LA(DELETE))
&kp LG(X)         &kp LEFT_GUI    &kp LEFT_ALT  &kp TAB            &trans           &kp LEFT  &kp UP  &kp DOWN  &kp RIGHT  &trans
&kp C_PLAY_PAUSE  &kp C_PREVIOUS  &kp C_NEXT    &kp C_VOLUME_DOWN  &kp C_VOLUME_UP  &trans    &trans  &trans    &trans     &trans

                                  &trans        &trans             &trans           &trans    &trans  &trans
            >;
        };

        bluetooth {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans        &trans        &trans        &trans        &trans
&trans  &trans  &trans  &trans  &trans  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_CLR
&trans  &trans  &trans  &trans  &trans  &trans        &trans        &trans        &trans        &trans

                &trans  &trans  &trans  &trans        &trans        &trans
            >;
        };
    };
};
